# Visual Studio Core
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Build file
[Rr]obocopy.log